* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page {
  width: 1920px;
  height: 1189px;
  display: flex;
}

/* Side Bar Start */

.side-bar {
  width: 224px;
  height: 1189px;
  background-color: black;
}
.logo {
  width: 124.47px;
  height: 68.21px;
  margin: 11px 49.53px 0 50px;
}
.menu {
  margin-top: 30px;
}
.menu-icon {
  margin-right: 22px;
  margin-left: 42px;
}
.menu-icon:hover {
  color: #ff7901;
}
.menu-item {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #7d7d7e;
}
.menu-item:hover {
  color: #ffffff;
}

/* Side Bar end */

/* Home Page Start */

.home-page {
  width: 1696px;
  height: 1189px;
  background-color: #fcfbff;
}

/* Navbar starts */

.navbar {
  height: 90px;
  background-color: #000000;
  display: flex;
}
.balance {
  display: flex;
}
.balance-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 30px 10px 30px 1268px;
}
.balance-amt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #ff7901;
  margin: 30px 0;
}
.btn_navbar {
  background-color: #ffffff;
  width: 200px;
  height: 60px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 45px;
  margin: 15px 30px;
  display: flex;
}
.btn_img {
  margin: 10px;
}
.btn-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0;
}
.btn_icon {
  width: 12px;
  height: 6px;
  margin: 27px 20px 27px 13px;
}

/* Navbar end */

/* Main starts */

.user-information {
  display: flex;
  margin: 30px;
}
.user {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 325px;
  height: 334px;
  background: #ffffff;
  border: 1px solid #f2f2f4;
  border-radius: 10px;
  margin-right: 30px;
}
.user-img {
  width: 100px;
  height: 100px;
  margin: 40px 122px 15px 103px;
}
.user-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: #26262e;
  margin-right: 120px;
  margin-left: 108px;
}
.user-details {
  text-align: center;
  margin: 0 86px 71px 67px;
}
.user-details p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #7d7d7e;
  margin-top: 5px;
}

.card-info {
  border: 1px solid #f2f2f4;
  border-radius: 10px;
  width: 1281px;
  height: 334px;
  background: #ffffff;
}

.card-info-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 70px 0 10px 30px;
  color: #26262e;
}
.card-container {
  display: flex;
  margin: 0 0 70px 30px;
}
.card-details {
  position: relative;
  width: 387px;
  height: 154px;
  border: 1px solid #f2f2f4;
  border-radius: 10px;
  background: #ffffff;
  margin-right: 30px;
}
.card-details:hover {
  border: 1px solid #ff7901;
}
.card-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #7d7d7e;
  margin: 30px 187px 30px 30px;
}
.card-name:hover {
  color: #26262e;
}
.card-number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #bdbdbd;
  margin: 0 185px 30px 30px;
}
.card-number:hover {
  color: #26262e;
}
.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}
.delete-icon:hover {
  background-color: #b10101;
}

.profile-setting {
  width: 1636px;
  height: 659px;
  border: 1px solid #f2f2f4;
  border-radius: 10px;
  background: #ffffff;
  margin: 0 30px 46px 30px;
}
.setting-catagory {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 375px 10px 532px;
}
.setting-catagory p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-right: 32px;
  color: #26262e;
}
.setting-catagory p:hover {
  color: #ff7901;
}
.setting-options {
  margin-top: 54px;
  margin-left: 318px;
}
.option {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.option-icon {
  margin-right: 20px;
}
.option-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #26262e;
}
#option-text-2nd {
  color: #7d7d7e;
}
#option-gap {
  width: 70%;
  border: 1px solid #f2f2f4;
}
/* Main End */

/* Home Page end */
